<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      FinalProject
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/employers" class="dropdown-item">
              Employers
            </a>
            <a href="/enrollments" class="dropdown-item">
              Enrollments
            </a>
            <a href="/schools" class="dropdown-item">
              Schools
            </a>
            <a href="/curriculums" class="dropdown-item">
              Curriculums
            </a>
            <a href="/courseloads" class="dropdown-item">
              Courseloads
            </a>
            <a href="/comments" class="dropdown-item">
              Comments
            </a>
            <a href="/professors" class="dropdown-item">
              Professors
            </a>
            <a href="/courses" class="dropdown-item">
              Courses
            </a>
          </div>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
